{% extends 'base.html.twig' %}

{% block title %}Accueil - Vente de plantes
{% endblock %}

{% block body %}
	<section class="hero is-light">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Plantes
				</h1>
				<h2 class="subtitle">
					Vente et livraison de plantes à domicile
				</h2>
			</div>
		</div>
	</section>
{% endblock %}
